*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
}

html, body {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}